<script lang="ts" setup></script>
<template>
  <v-container
    ><v-row justify="center"
      ><v-col><v-btn class="fixcard">ANGRY</v-btn></v-col></v-row
    >
    <v-row
      ><v-col><v-btn class="fixcard">CUTE</v-btn></v-col></v-row
    >
    <v-row
      ><v-col><v-btn class="fixcard">EXITED</v-btn></v-col></v-row
    >
    <v-row
      ><v-col><v-btn class="fixcard">PAIN</v-btn></v-col></v-row
    >
    <v-row
      ><v-col><v-btn class="fixcard">SHOCKED</v-btn></v-col></v-row
    >
    <v-row
      ><v-col><v-btn class="fixcard">SMILE</v-btn></v-col></v-row
    >
  </v-container>
</template>

<style scoped>
.fixcard {
  width: 400px;
}
</style>
